// Navigation Styles here

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px dashed @navigation-border;
    
    
        

    a {
        font-size: 1.8rem;
        text-decoration: none;
        margin: 0 10px;
        color: @shark;
    }
    
}